In [109]:
import csv
import sys,os
import re
import MySQLdb
import pandas as pd

In [110]:
def conn_to_psto():
    #mysql连接方法
    #MySQLdb.connect()
    #postgl连接
    conn = MySQLdb.connect(database="mysql",user="root",password="sr227520",host="localhost")
    cur = conn.cursor()
    return conn,cur
def insert(cur,sql,args):
    cur.execute(sql,args)

In [159]:
# split room plan and insert into DB by dif room plan
def analyze_room_plan(inserted_data,row_num):
    seen_room_plan = set() # store 
    for val in str(df['house_plan'][row_num]).split('|'):
        
        beds = -1
        full_bath = 0
        part_bath = 0
        min_price = 0
        max_price = 0
        val  = re.findall(r"\d+\.?\d*",val)
        #print ("original val",val)
        if len(val) <=3: # means no price
            continue
        if int(val[0]) >10 and int(val[1]) >10 : #studio
            continue
        beds = val[0]
        if len(val[1].split(".")) !=1 : #float contains part of bath
            full_bath = val[1].split(".")[0]
            part_bath = val[1].split(".")[1]
        else:
            full_bath = val[1]
        if (beds,full_bath) in seen_room_plan: # already seen similar room plan
            continue
        seen_room_plan.add((beds,full_bath))
        
        prices = [str(price) for price in val[:-1] if int(price) >=500]
        for index in range(len(prices)):
            if index ==0:
                min_price = prices[0]
                max_price = prices[0]
            if index ==1:
                max_price = prices[1]
        inserted_data['numbed'] = beds
        inserted_data['num_bath_full'] = full_bath
        inserted_data['num_bath_part']= part_bath
        inserted_data['rentalprice_min']=min_price
        inserted_data['rentalprice_max']=max_price

In [160]:
def read_data(filename):
    df = pd.read_csv(filename)
    return df
def init_data(inserted_data):
    inserted_data['website'] = "https://www.rent.com" #website
    inserted_data['property_type'] = "None" # property_type
    inserted_data['record_type'] = "rent" # record_type
    inserted_data['country'] = "US" # record_type
def get_amentry_

In [161]:
if __name__ == "__main__":
    #传入文件路径或文件名
    sql = 'insert into rent_2018_2019 (website,home_url,property_type,record_type,parser_type,\
                                        streetaddr,city,state,zipcode,country,\
                                        numbed,num_bath_full,num_bath_part,rentalprice_min,rentalprice_max\
                                        ) \
                    values(%s,%s,%s,%s,%s,\
                        %s,%s,%s,%d,%s,\
                        %d,%d,%d,%d,%d,\
                        )'
    filename="output.csv"
    inserted_data = {}
    init_data(inserted_data)
    home_types = ["apartments","condos","townhouses","houses"]
    df = read_data(filename)
    length = len(df['url_from'])
    print (df.columns)
    
    for index in range(length):
        
        inserted_data['home_url'] = df['url_from'][index]
        for h_type in home_types:
            if h_type in inserted_data['home_url']:
                inserted_data['parser_type'] = h_type
                break
        inserted_data['streetaddr'] = df['streetaddr'][index]
        inserted_data['city'] = df['city'][index]
        inserted_data['state'] = df['state'][index]
        inserted_data['zipcode'] = df['zipcode'][index]
        analyze_room_plan(inserted_data,index)
        print ("")
        
    '''
    for url,st_addr,city,state,zipcode in zip(df['url_from'],df['streetaddr'],df['city'],df['state'],\
                                               df['zipcode'], ):
        inserted_data['home_url'] = url
        for h_type in home_types:
            if h_type in url:
                inserted_data['parser_type'] = h_type
                break
        inserted_data['streetaddr'] = st_addr
        inserted_data['city'] = city
        inserted_data['state'] = state
        print (inserted_data)
        break
    
    
    '''
    '''
    conn,cur=conn_to_psto()
    
    for i in range(len(df[''])):
        data = [str(i),"rent.com"]
        args=tuple(data)
        insert(cur, sql=sql, args=args)
        conn.commit()
    cur.close()
    conn.close()
    '''

Index(['Parking', 'Kitchen', 'Features', 'zipcode', 'house_plan', 'url_from',
       'beds', 'state', 'streetaddr', 'Community', 'Laundry', 'price',
       'Additional', 'title', 'city', 'pet', 'Pets'],
      dtype='object')
['1695', '2360']

['1200']


['1193', '1346', '749']

['1550', '1680']
['1910', '1940']
['1985', '2115']
['2015', '594']

['1290', '1509']

['1890']

['1250']

['1550', '1740']

['1389', '1409']
['1493', '1583']
['2253', '4348']

['2000']

['2150']

['1845']

['1152', '3127']

['1406', '1568', '572']
['1623', '1718']
['1627', '1797']
['1657', '1707']
['1800']

['1445']


['1359', '3137']
['1364', '1439']
['1324']
['1822']

['1600']


['1200']



['1400']

ValueError: invalid literal for int() with base 10: '2.5'

In [ ]:
    '''
    for row in f_csv:
            # Process row
            field1=row[1]
            ...
        sql='''insert into rent(price,url) values(%d,%s,...) '''.format(field1=field1,field2=field2.........))
        cur.execute(sql)
    conn.commit()
    conn.close()
    '''

In [82]:
print (df['url_from'][4])

https://www.rent.com/colorado/fort-collins-apartments/affinity-fort-collins-4-100063569

round  0
1 bed / 1 bath $1695 - $2360 /mo 710sqft
['1', '1', '1695', '2360', '710']
 1 bed / 1 bath $1710 - $2640 /mo 710 sqft
['1', '1', '1710', '2640', '710']
 1 bed / 1 bath $1815 - $2335 /mo 710 sqft
['1', '1', '1815', '2335', '710']
 1 bed / 1 bath $1910 - $2640 /mo 710 sqft
['1', '1', '1910', '2640', '710']
 1 bed / 1 bath $1970 - $2800 /mo 710 sqft
['1', '1', '1970', '2800', '710']
 1 bed / 1 bath $2095 - $2235 /mo 710 sqft
['1', '1', '2095', '2235', '710']
 1 bed / 1 bath $2095 - $2235 /mo 664sqft
['1', '1', '2095', '2235', '664']
 1 bed / 1 bath $2580 - $2795 /mo 664 sqft
['1', '1', '2580', '2795', '664']
 1 bed / 1 bath $2660 /mo 664 sqft
['1', '1', '2660', '664']
 1 bed / 1 bath Contact for Pricing 664 sqft
['1', '1', '664']
 1 bed / 1 bath Contact for Pricing 664 sqft
['1', '1', '664']
 1 bed / 1 bath Contact for Pricing 664 sqft
['1', '1', '664']
 1 bed / 1 bath Contact for Pricing 710sqft
['1', '1', '710']
 1 bed / 1 bath Contact for Pricing 710 sqft
['1', '1', '710']
 1 bed / 1 bath Contact for Pricing 710 sqft
['1', '1', '710']
 1 bed / 1 bath Contact for Pricing 710 sqft
['1', '1', '710']
 1 bed / 1 bath Contact for Pricing 710 sqft
['1', '1', '710']
 1 bed / 1 bath Contact for Pricing 717sqft
['1', '1', '717']
 1 bed / 1 bath Contact for Pricing 717 sqft
['1', '1', '717']
 1 bed / 1 bath Contact for Pricing 717 sqft
['1', '1', '717']
 1 bed / 1 bath Contact for Pricing 839sqft
['1', '1', '839']
 1 bed / 1 bath Contact for Pricing 839 sqft
['1', '1', '839']
 1 bed / 1 bath Contact for Pricing 839 sqft
['1', '1', '839']
 1 bed / 1 bath Contact for Pricing 839 sqft
['1', '1', '839']
 1 bed / 1 bath Contact for Pricing 839 sqft
['1', '1', '839']
 1 bed / 1 bath $2275 - $3290 /mo 839 sqft
['1', '1', '2275', '3290', '839']
 1 bed / 1 bath $2400 - $3290 /mo 813sqft
['1', '1', '2400', '3290', '813']
 1 bed / 1 bath $2425 - $2990 /mo 813 sqft
['1', '1', '2425', '2990', '813']
 1 bed / 1 bath $2455 - $3265 /mo 813 sqft
['1', '1', '2455', '3265', '813']
 1 bed / 1 bath $3770 /mo 813 sqft
['1', '1', '3770', '813']
 1 bed / 1 bath $3870 - $4010 /mo 813 sqft
['1', '1', '3870', '4010', '813']
 1 bed / 1 bath Contact for Pricing 832sqft
['1', '1', '832']
 1 bed / 1 bath Contact for Pricing 832 sqft
['1', '1', '832']
 1 bed / 1 bath Contact for Pricing 832 sqft
['1', '1', '832']
 1 bed / 1 bath Contact for Pricing 832 sqft
['1', '1', '832']
 1 bed / 1 bath Contact for Pricing 903sqft
['1', '1', '903']
 1 bed / 1 bath Contact for Pricing 903 sqft
['1', '1', '903']
 1 bed / 1 bath Contact for Pricing 903 sqft
['1', '1', '903']
 1 bed / 1 bath Contact for Pricing 903 sqft
['1', '1', '903']
 1 bed / 1 bath Contact for Pricing 903 sqft
['1', '1', '903']

[]
round  1
2 beds / 1 bath $1200 /mo 645sqft
['2', '1', '1200', '645']

[]
round  2
1 bed / 1 bath $750 /mo  sqft
['1', '1', '750']

[]
round  3
1 bed / 1 bath $1193 - $1346 /mo 749-859sqft
['1', '1', '1193', '1346', '749', '859']
 1 bed / 1 bath $1435 - $1686 /mo 749 sqft
['1', '1', '1435', '1686', '749']
 1 bed / 1 bath $1596 - $1871 /mo 749 sqft
['1', '1', '1596', '1871', '749']
 1 bed / 1 bath $1765 - $1884 /mo 749 sqft
['1', '1', '1765', '1884', '749']
 1 bed / 1 bath $2261 - $2336 /mo 749 sqft
['1', '1', '2261', '2336', '749']
 1 bed / 1 bath $2276 /mo 749 sqft
['1', '1', '2276', '749']

[]
round  4
Studio / 1 bath $1525 /mo 499sqft
['1', '1525', '499']
 Studio / 1 bath $1550 - $1680 /mo 499 sqft
['1', '1550', '1680', '499']
 Studio / 1 bath $1910 - $1940 /mo 499 sqft
['1', '1910', '1940', '499']
 Studio / 1 bath $1985 - $2115 /mo 499 sqft
['1', '1985', '2115', '499']
 1 bed / 1 bath $2015 /mo 594-617sqft
['1', '1', '2015', '594', '617']
 1 bed / 1 bath Contact for Pricing 617 sqft
['1', '1', '617']
 1 bed / 1 bath Contact for Pricing 617 sqft
['1', '1', '617']
 1 bed / 1 bath Contact for Pricing 617 sqft
['1', '1', '617']
 1 bed / 1 bath Contact for Pricing 617 sqft
['1', '1', '617']

[]
round  5
1 bed / 1 bath $1290 - $1509 /mo 780sqft
['1', '1', '1290', '1509', '780']
 1 bed / 1 bath $1295 - $1530 /mo 780 sqft
['1', '1', '1295', '1530', '780']
 1 bed / 1 bath $1363 - $1484 /mo 780 sqft
['1', '1', '1363', '1484', '780']
 1 bed / 1 bath $1427 - $1664 /mo 780 sqft
['1', '1', '1427', '1664', '780']
 1 bed / 1 bath $1472 - $1639 /mo 780 sqft
['1', '1', '1472', '1639', '780']
 1 bed / 1 bath $1574 - $1741 /mo 780 sqft
['1', '1', '1574', '1741', '780']
 1 bed / 1 bath $1593 - $1773 /mo 780 sqft
['1', '1', '1593', '1773', '780']
 1 bed / 1 bath $1622 - $1989 /mo 780 sqft
['1', '1', '1622', '1989', '780']
 1 bed / 1 bath $1674 - $1871 /mo 707sqft
['1', '1', '1674', '1871', '707']
 1 bed / 1 bath $1710 - $2062 /mo 707 sqft
['1', '1', '1710', '2062', '707']

[]
round  6
3 beds / 3 baths $1890 /mo 1452sqft
['3', '3', '1890', '1452']

[]
round  7
2 beds / 1 bath $1250 /mo 950sqft
['2', '1', '1250', '950']

[]
round  8
1 bed / 1 bath $1550 - $1740 /mo 729sqft
['1', '1', '1550', '1740', '729']
 1 bed / 1 bath $1595 - $1805 /mo  sqft
['1', '1', '1595', '1805']
 1 bed / 1 bath $1595 - $1805 /mo  sqft
['1', '1', '1595', '1805']
 1 bed / 1 bath $1615 - $1720 /mo  sqft
['1', '1', '1615', '1720']
 1 bed / 1 bath Contact for Pricing  sqft
['1', '1']
 1 bed / 1 bath $2035 - $2225 /mo  sqft
['1', '1', '2035', '2225']
 1 bed / 1 bath $2115 - $2305 /mo 770sqft
['1', '1', '2115', '2305', '770']
 1 bed / 1 bath $2410 - $2515 /mo  sqft
['1', '1', '2410', '2515']
 1 bed / 1 bath Contact for Pricing  sqft
['1', '1']
 1 bed / 1 bath Contact for Pricing  sqft
['1', '1']
 1 bed / 1 bath $3155 /mo  sqft
['1', '1', '3155']
 1 bed / 1 bath Contact for Pricing  sqft
['1', '1']

[]
round  9
Studio / 1 bath $1389 - $1409 /mo 651sqft
['1', '1389', '1409', '651']
 1 bed / 1 bath $1493 - $1583 /mo 707sqft
['1', '1', '1493', '1583', '707']
 1 bed / 1 bath $1518 - $3013 /mo 738sqft
['1', '1', '1518', '3013', '738']
 1 bed / 1 bath $1528 - $2625 /mo 738 sqft
['1', '1', '1528', '2625', '738']
 1 bed / 1 bath $1588 - $3109 /mo 804sqft
['1', '1', '1588', '3109', '804']
 1 bed / 1 bath $1591 - $2727 /mo 804 sqft
['1', '1', '1591', '2727', '804']
 1 bed / 1 bath $1616 - $2510 /mo 804 sqft
['1', '1', '1616', '2510', '804']
 1 bed / 1 bath $1646 - $2792 /mo 767sqft
['1', '1', '1646', '2792', '767']
 1 bed / 1 bath $1693 - $1713 /mo 767 sqft
['1', '1', '1693', '1713', '767']
 1 bed / 1 bath $2062 - $2137 /mo 767 sqft
['1', '1', '2062', '2137', '767']
 1 bed / 1 bath $2092 - $4471 /mo 767 sqft
['1', '1', '2092', '4471', '767']
 1 bed / 1 bath $2112 - $2152 /mo 767 sqft
['1', '1', '2112', '2152', '767']
 1 bed / 1 bath $2167 - $2202 /mo 705sqft
['1', '1', '2167', '2202', '705']
 1 bed / 1 bath $2183 - $2213 /mo 705 sqft
['1', '1', '2183', '2213', '705']
 1 bed / 1 bath $2192 - $4573 /mo 705 sqft
['1', '1', '2192', '4573', '705']
 1 bed / 1 bath $2208 - $2298 /mo 705 sqft
['1', '1', '2208', '2298', '705']
 1 bed / 1 bath $2212 - $4415 /mo 767sqft
['1', '1', '2212', '4415', '767']
 1 bed / 1 bath $2226 - $4646 /mo 767 sqft
['1', '1', '2226', '4646', '767']
 1 bed / 1 bath $2238 - $2278 /mo 796sqft
['1', '1', '2238', '2278', '796']
 1 bed / 1 bath $2243 - $2333 /mo 796 sqft
['1', '1', '2243', '2333', '796']
 1 bed / 1 bath $2243 - $2263 /mo 796 sqft
['1', '1', '2243', '2263', '796']
 1 bed / 1 bath $2253 - $2263 /mo 944sqft
['1', '1', '2253', '2263', '944']
 2 beds / 2 baths $2253 - $4348 /mo 1040sqft
['2', '2', '2253', '4348', '1040']
 2 beds / 2 baths $2585 - $2615 /mo 1040sqft
['2', '2', '2585', '2615', '1040']

[]

-1 for studio